<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">PeliculasAPP</h1>
    <p class="lead">Esta es una aplicacion de peliculas.</p>
  </div>
</div>

<div class="container">
  <br>

  

  <app-galeria [cartelera]="cartelera|slice:0:6"
                titulo="Peliculas en Cartelera"></app-galeria>
  
  <app-galeria [cartelera]="populares" 
                titulo="Populares"></app-galeria>
  
  <app-galeria [cartelera]="popularesNinos" 
                titulo="Populares Niños"></app-galeria>

</div>  