<div class="container main-container">
  
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar:</label>
        <input  [(ngModel)]="buscar"
                type="text"
                (keyup.enter)="buscarPelicula()"
                name="buscar"
                class="form-control"
                placeholder="Buscar una Pelicula">
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast">
      <div class="card-columns">

          <div class="card" *ngFor="let pelicula of _ps.peliculas">
            <img class="card-img-top" [src]="pelicula|peliculaImagen" [alt]="pelicula.original_title">
            <div class="card-body">
              <h5 class="card-title">{{ pelicula.original_title }}</h5>
              <p class="card-text text-justify"> {{ pelicula.overview| slice:0:300 }} ...</p>
              <button type="button"
                      [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]"
                      class="btn btn-outline-primary btn-block">
                Ver mas.. 
              </button>
            </div>
          </div>
      
      </div>
  </div>

</div>